<%- include('partials/header', {isLogin, isAdmin}) %>
<div class="container my-5">
  <div class="container-fluid">
    <div class="row">
      <% for (const key of category) {%>
      <div class="col-2">
        <img src="<%= key.image %>" width="80px" height="80px" alt="" />
      </div>
      <div class="col-3">
        <p><%= key.name %></p>
      </div>
      <div class="col-3">
        <p><%= key.Category.name %></p>
      </div>
      <div class="col-3">
        <p><%= formatPriceToEjs(key.price) %></p>
      </div>
    </div>
    <% for (const data of account) {%>
    <p>Barang akan dikirim menuju alamat anda di <%= data.addres %></p>
    <p>Dengan penerima atas nama <%= data.name %></p>
    <% } %>
    <p>Pesanan berhasil dibeli pada <%= key.formatDate %>  </p>
    <br />
    <a href="/products/<%= key.id %>/thank"><button type="button" class="btn btn-info">Checkout</button></a>
  </div>
  <% } %>
</div>
<%- include('partials/footer') %>
