<%- include('partials/header', {isLogin, isAdmin}) %>
<section id="checkout" class="my-3">
  <div class="container-fluid py-5">
    <div class="container">
      <h1 class="text-center">Checkout Your Products</h1>
      <div class="row justify-content-between mt-md-5 pt-5">
        <div class="col-md-6 col-sm-12 mb-4 mb-md-0">
          <% for (key of category) {%>
          <img src="<%= key.image %>" class="img-fluid" alt="#" />
        </div>
        <div class="col-md-6 col-sm-12 text-md-start">
          <h5 class="fw-bold"><%= key.name %></h5>
          <br />
          <div class="row">
            <div class="col-12">
              <% for (const data of account) {%>
              <br />
              <p>Pesanan Akan dibeli pada <span class="fw-bold"><%= key.formatDate %>!</span></p>
              <p>Barang akan dikirim menuju alamat anda di <span class="fw-bold"><%= data.addres %></span></p>
              <p>Dengan penerima atas nama <span class="fw-bold"><%= data.name %></span></p>
              <% } %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Category:<span class="fw-bold"> <%= key.Category.name %></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="container py-2" style="background-color: #efefef">
                <span class="align-middle fw-bold"><%= formatPriceToEjs(key.price) %></span>
              </div>
              <br />
              <a href="/products/<%= key.id %>/thank"><button type="button" class="btn btn-info">Checkout</button></a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
