<%- include('partials/header', {isLogin}) %>
<div class="container">
  <div class="container-fluid">
    <h1><%= category%></h1>
    <!-- Card -->
    <div class="row">
      <% for (const key of products) {%>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="<%= key.image %>" class="card-img-top" width="100px" height="150px" alt="..." />
          <div class="card-body">
            <p class="card-text fw-bold"><%= key.name %></p>
            <div class="row">
              <p class="card-text"><%= formatPriceToEjs(key.price) %></p>
              <p class="card-text">Stock : <%= key.stock %></p>
              <a href="/products/<%= key.id %>/detail">Show detail</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <!-- End Card -->
  </div>
</div>
<%- include('partials/footer') %>
